<!-- Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out, -->

<!-- 1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this -->

In [1]:
# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.# 2. Find out your total expense in first quarter (first three months) of the year.
# 3. Find out if you spent exactly 2000 dollars in any month
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this

In [19]:
month_wise_expenses = [{'Month':'January', 'price':2200}, {'Month':'February', 'price':2350},{'Month':'March', 'price':2600}, {'Month':'April', 'price':2130}, {'Month':'May', 'price':2190}]

In [20]:
month_wise_expenses

[{'Month': 'January', 'price': 2200},
 {'Month': 'February', 'price': 2350},
 {'Month': 'March', 'price': 2600},
 {'Month': 'April', 'price': 2130},
 {'Month': 'May', 'price': 2190}]

In [33]:
monthly_expenses = [2200, 2350, 2600, 2130, 2190]

In [34]:
# 1. In Feb, how many dollars you spent extra compare to January?
print(f"In month of february i spend {monthly_expenses[1] - monthly_expenses[0]} more than the month of january")

In month of february i spend 150 more than the month of january

In [35]:
# 2. Find out your total expense in first quarter (first three months) of the year.
print(f"The total expense of first three month is {monthly_expenses[0] + monthly_expenses[1] + monthly_expenses[2]}")

The total expense of first three month is 7150

In [39]:
# 3. Find out if you spent exactly 2000 dollars in any month
print("Did I spend 2000 dollars in any match ? ", 2000 in monthly_expenses)

Did I spend 2000 dollars in any match ?  False

In [40]:
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
monthly_expenses.append(1980)

In [41]:
monthly_expenses

[2200, 2350, 2600, 2130, 2190, 1980]

In [42]:
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this

In [43]:
monthly_expenses[3]=1930

In [44]:
monthly_expenses

[2200, 2350, 2600, 1930, 2190, 1980]

In [81]:
# 2. You have a list of your favourite marvel super heros
heros=['spider man','thor','hulk','iron man','captain america']

In [82]:
# 1. Length of the list
# 2. Add 'black panther' at the end of this list
# 3. You realize that you need to add 'black panther' after 'hulk',
#    so remove it from the list first and then add it after 'hulk'
# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
# 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [83]:
# 1. Length of the list
len(heros)

5

In [84]:
# 2. Add 'black panther' at the end of this list
heros.append('black panther')

In [85]:
# 3. You realize that you need to add 'black panther' after 'hulk',
#    so remove it from the list first and then add it after 'hulk'
if 'black panther' in heros:
    heros.remove('black panther')
heros.insert(3, 'black panther')

In [86]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [87]:
# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.

In [88]:
heros[1:3]=['doctor strange']

In [89]:
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [90]:
# 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)
heros.sort()

In [91]:
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

In [92]:
# Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [95]:
max1 = int(input("Enter the number"))
for i in range(1,max1,2):
    print(i)

Enter the number21
1
3
5
7
9
11
13
15
17
19